body {
    background-color: #08090e;
    font-family: "Exo 2", sans-serif;
    background-image: url('https://s1.1zoom.me/b6353/461/Yamaha_2017_MT-07_Moto_Cage_Night_Moon_515846_1366x768.jpg');
   overflow-y: hidden;
    background-repeat: no-repeat;
  
  }