/* palheta de cores
#201b2c
#710d06
#ff1919
#212837 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');

/* Configuração do banner */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right,
            #1d043d 0%,
            #14031d 51%,
            #0f0120 100%);
    font-family: 'Noto Sans', sans-serif;
}

.header a:hover {
    color: #000000;
    transition: 0.5s;
}

body::-webkit-scrollbar {
    width: 1rem;
}

/* cor de fundo do scroll */
body::-webkit-scrollbar-track {
    background: #201b2c;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(72deg, #710d06 10%, #ff1919 99%);
    border-radius: 6px;
    /* roundness of the scroll thumb */
    border: 1px solid #e5e5e5;
}

.agora {
    background: linear-gradient(72deg, #201b2c 10%, #302152 99%);
}

.imgindex p {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 37px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 40.6);
    background: linear-gradient(72deg, #342222 10%, #ff0000 99%);
    backdrop-filter: blur(3px);
    box-shadow: 8px 8px 32px 24px rgba(215, 1, 1, 0.451);
    border-radius: 15px;
    padding: 0px 25px;

}

.imgindex1 {
    width: 100%;
    height: 560px;
}

p {
    position: absolute;
    font-size: 20px;
    color: aliceblue;
}

/* Configuração Navbar */
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    color: rgb(225, 225, 225);
    text-decoration: none;
    background-image: linear-gradient(to right,
            #710d06 0%,
            #ff1919 51%,
            #3d176e97 100%);
}

h1,
a {
    color: white;
    text-decoration: none;
    padding: 0px 8px;

}

nav ul {
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;


}

li {
    padding: 0 25px;
    transition: .4s;
}

li:hover,
.h1:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: #3d176e97;
    border-radius: 5px;

}

ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all .5s;
}

/* fim navbar */


/* BLOCO 1 */
.control1 {
    width: 100%;
    display: flex;
    height: 40%;
    margin-top: 4%;
    transition: 0.7s;
}



.textodiv1 {
    line-height: 2.0rem;
    width: 80%;
    margin-left: 3%;
    margin-top: 5%;
    text-align: justify;
    line-height: 2.5rem;

}

.textodiv1 p {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.img1 {
    width: 570px;
    height: 430px;
    border-radius: 60px;
}

.imgdiv1 {
    margin-right: 2.5%;
    margin-top: 4.5%;
}

/* BLOCO 1 */



/* Configuração carrossel */
.content {
    height: 420px;
    width: 800px;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 21.6%;
    margin-top: 40%;

}

.content p {
    font-size: 70px;
    font-weight: 800;
    margin-top: -6.9%;
    margin-left: 2.9%;

}

.navigation {

    position: absolute;
    display: flex;
    padding-top: 26.7%;
    padding-left: 8%;
}

.bar {
    height: 17px;
    width: 70px;
    border: 2px solid rgb(31, 16, 44);
    border-radius: 5px;
    margin: 6px;
    cursor: pointer;
    transition: .3s;
    background-color: #710d06;
}

.bar:hover {
    background-color: #82bbf4;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 715%;
    height: 100%;
}

.slide {
    width: 14%;
    transition: .5s;
}

.slide img {
    width: 100%;
    height: 100%;

}

#slide1:checked~.s1 {
    margin-left: 0;
}

#slide2:checked~.s1 {
    margin-left: -14%;
}

#slide3:checked~.s1 {
    margin-left: -28%;
}

#slide4:checked~.s1 {
    margin-left: -42%;
}

#slide5:checked~.s1 {
    margin-left: -56%;
}

#slide6:checked~.s1 {
    margin-left: -70%;
}

#slide7:checked~.s1 {
    margin-left: -84%;
}

/* Fim carrossel */

/* footer */
.footer {
    margin: none;
    background-image: linear-gradient(
        to right,
        #710d06 0%,
        #ff1919 51%,
        #3d176e97 100%
      );
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20%;

}

.footermini1 {
    margin-top: 2%;
    border-right: #000000 solid 2px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
    margin-bottom: 2%;

}

.footermini2 {

    margin-left: 10%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}





/* .banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner video {
    
    top: 10%;
    left: 0;
    object-fit: cover;
    width: 100%;
  }
  .banner .content {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }
  .banner .content h1 {
    margin: 0;
    padding: 0;
    font-size: 5.5em;
    text-transform: uppercase;
    color: #ffff;
  }
  .banner .content p {
    font-size: 1.5em;
    color: #ffff;
  } */