/* palheta de cores
#1464b5
#bcdeec
#1a61a8
#212837 */

/* Configuração do banner */
body{
margin: 0;
padding: 0;
height: 100vh;
width: 100vw;
background: linear-gradient(72deg, #10470e 10%, #67da72 99%); 
}

.imgindex p{
    
    font-size: 60px;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 12%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 40.6);
    background: rgba(255, 255, 255, 0.114);
    backdrop-filter: blur(3px);
    box-shadow: 8px 8px 32px 16px rgba(29, 86, 22, 0.427);
    
}
.imgindex1{
    width: 100%;
    height: 460px;  
}

p{
    position: absolute;
    font-size: 20px;
    color: aliceblue;
}
/* Configuração Navbar */
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;     
    margin: 0;  
    padding: 0;   
    color: rgb(225,225,225);     
    text-decoration: none;
    background: linear-gradient(72deg, #10470e 10%, #67da72 99%);   
}
/* .logo{
    background-image: url(https://i.imgur.com/zF2n36w.png);
    width: 200px;
    height: 127px;
    position: absolute;
    border: 2px solid black;
    background-size: 98%;
    top: -1.60%;
    
      } */
h1, a {
    color: white;
    text-decoration: none;
    
}
nav ul {
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    
}

li {
    padding: 0 25px;
    transition: .4s;
}
li:hover, .h1:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 0, 0, 0.773);
    border-radius: 5px;
}
ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all .5s;
}

/* fim navbar */




/* Configuração carrossel */
.content{
height: 420px;
width: 800px;
border-radius: 20px;
overflow: hidden;
margin-left: 20%;
margin-top: 20%;

}
.content p{
    font-size: 70px;
    font-weight: bolder;
    margin-top: -7%;
    margin-left: 1.5%;
}

.navigation{
    position: absolute;
    display: flex;
    padding-top: 29%;
    padding-left: 7%;
}

.bar{
    height: 17px;
    width: 70px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 6px;
    cursor: pointer;
    transition: .3s;
    background-color: #1464b5;
}

.bar:hover{
    background-color: #82bbf4;
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 715%;
    height: 100%;
}

.slide{
    width: 14%;
    transition: .5s;
}

.slide img{
width: 100%;
height: 100%;

}

#slide1:checked ~ .s1{
margin-left: 0;
}

#slide2:checked ~ .s1{
margin-left: -14%;
}
#slide3:checked ~ .s1{
margin-left: -28%;
}
#slide4:checked ~ .s1{
margin-left: -42%;
}
#slide5:checked ~ .s1{
margin-left: -56%;
}
#slide6:checked ~ .s1{
margin-left: -70%;
}
#slide7:checked ~ .s1{
margin-left: -84%;
}
/* Fim carrossel */





/* .banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner video {
    
    top: 10%;
    left: 0;
    object-fit: cover;
    width: 100%;
  }
  .banner .content {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }
  .banner .content h1 {
    margin: 0;
    padding: 0;
    font-size: 5.5em;
    text-transform: uppercase;
    color: #ffff;
  }
  .banner .content p {
    font-size: 1.5em;
    color: #ffff;
  } */