/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-color: #08090e;
  font-family: "Exo 2", sans-serif;
  background-image: url('https://s1.1zoom.me/b6353/461/Yamaha_2017_MT-07_Moto_Cage_Night_Moon_515846_1366x768.jpg');
 
  background-repeat: no-repeat;

}

nav {

  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgb(225, 225, 225);
  text-decoration: none;
  background-color: #1b203d;
  
}

h1,
a {
  color: white;
  text-decoration: none;
  padding: 0px 8px;
}

nav ul {
  align-items: center;
  list-style: none;
  display: flex;
  flex-direction: row;
}

li {
  padding: 0 25px;
  transition: .7s;
}

li:hover,
.h1:hover {
  cursor: pointer;
  opacity: 0.8;

  border-radius: 5px;
  transform: translatex(-10px);

}

ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
  transition: all .5s;
}







.logo {
  margin: 0px;
  margin-left: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}

.logo span {
  color: #f7403b;
}


body::-webkit-scrollbar {
  width: 1rem;
}

/* cor de fundo do scroll */
body::-webkit-scrollbar-track {
  background: #201b2c;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(72deg, #710d06 10%, #ff1919 99%);
  border-radius: 6px;
  /* roundness of the scroll thumb */
  border: 1px solid #e5e5e5;
}


#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 300px;
}



label{
  padding: 18px;
}


.dd .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.dd .avisos .container .div-form {
  width: 100%;
}




.dd .avisos .div-form input {
  outline: none;
 
  width: 100%;
  border: 8px solid #1b203d;
  background-color: #1b203d;
  border-radius: 20px;
}
#titulo{
  margin-top: 0%;
}
.dd .avisos .div-form textarea {
  width: 101.6%;
  outline: none;
  height: 10%;
  border-radius: 20px;
  border: 8px solid #1b203d;
  background-color: #1b203d;
 
  
}

.dd .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
 margin-top: 1%;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #1b203d;
  width: 120px;
  border-radius: 20px;
  margin-left: 40%;
  transition: .3s;
}
.dd .avisos .div-form button:hover{
  background-color: #141a38;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 10px solid #1b203d;
  margin-top: 5%;
  padding: 13px;
  color: rgb(255, 255, 255);
  
}

.dd {
  
  display: flex;
  width: 54.6%;
  height: fit-content;
  background: rgba(0, 0, 0, 0.692);
  backdrop-filter: blur(5px);
  border-radius: 90px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 40.6);
  box-shadow: 8px 8px 22px 20px rgba(0, 0, 0, 0.427);

  position: relative;
  margin-top: 2%;
  left: 23%;
  
}
.div-results .feed-container {
  background: #00000083;
  backdrop-filter: blur(117px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 40.6);
  box-shadow: 8px 8px 22px 20px rgba(0, 0, 0, 0.427);
  border-radius: 5px;
  margin-bottom: 80px;
  margin-left: 6%;
}

.hello {
  width: 100%;
  
  display: flex;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.hello h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
  color: #b7dcff;
}


.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}



.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card {
  margin: 2%;
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 180px;
  justify-content: right;
  background-color: #9e9ea0;
  font-size: 20px;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.cards h1 {
  font-size: 22px;
  width: 100%;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50px;
  margin-top: 6%;
  /* background-color: #c7c7c7; */
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.graph {
  width: 80%;
  margin: auto;
  padding-top: 45px;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #00e673;
  margin: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.container {
  width: 80%;
  margin: auto;
  display: flex;
}


button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}


input {
  margin-bottom: 10px;
  border: 3px solid #050505;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}


body {
  margin: 0px;
  padding: 0px;
  background-color: #000000;

  font-family: system-ui;
}

.clearfix {
  clear: both;
}

.logo {
  margin: 0px;
  margin-left: 3%;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
  font-size: 20px;
}

.logo span {
  color: #f7403b;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #272c4a;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: #1b203d;
}

.sidenav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 300px;
}

.head {
  padding: 20px;
}

.col-div-6 {
  width: 50%;
  float: left;
}


.col-div-3 {
  width: 25%;
  float: left;
}

.box {
  width: 85%;
  height: 100px;
  background-color: #272c4a;
  margin-left: 10px;
  padding: 10px;
}

.box p {
  font-size: 35px;
  color: white;
  font-weight: bold;
  line-height: 30px;
  padding-left: 10px;
  margin-top: 20px;
  display: inline-block;
}

.box p span {
  font-size: 20px;
  font-weight: 400;
  color: #818181;
}

.box-icon {
  font-size: 40px;
  float: right;
  margin-top: 35px;
  color: #818181;
  padding-right: 10px;
}

.col-div-8 {
  width: 70%;
  float: left;
}

.col-div-4 {
  width: 30%;
  float: left;
}

.content-box {
  padding: 20px;
}

.content-box p {
  margin: 0px;
  font-size: 20px;
  color: #f7403b;
}

.content-box p span {
  float: right;
  background-color: #ddd;
  padding: 3px 10px;
  font-size: 15px;
}

.box-8,
.box-4 {
  width: 95%;
  background-color: #272c4a;
  height: 330px;

}

.nav2 {
  display: none;
}

.box-8 {
  margin-left: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td,
th {
  text-align: left;
  padding: 15px;
  color: #ddd;
  border-bottom: 1px solid #81818140;
}

.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #f7403b;
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}



.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

.main-grafico {
  display: flex;
  background-color: #272c4a;
  height: 250px;
  width: 73.4%;
  margin-left: 24.3%;

}

.footer {
  position: absolute;
  background-image: linear-gradient(to right,
      #710d06 0%,
      #ff1919 51%,
      #3d176efa 100%);
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  color: white;


}

.footer h5 {
  font-size: 14px;
  font-weight: 100;
}

.footer h4 {
  font-size: 14px;
  font-weight: 100;
}

.footermini1 {
  margin-top: 0.8%;
  border-right: #ffffff solid 2px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6%;
  margin-bottom: 2%;

}

.footermini2 {

  margin-left: 10%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.proximo{
  margin-top: 15%;
}