@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');

/* Configuração do banner */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        to right,
        #1d043d 0%,
        #14031d 51%,
        #0f0120 100%
      );
    font-family: 'Noto Sans', sans-serif;
}
.header a:hover {
    color: #000000;
    transition: 0.5s;
  }

body::-webkit-scrollbar {
    width: 1rem; 
  }

  /* cor de fundo do scroll */
  body::-webkit-scrollbar-track {
    background: #201b2c; 
  }

  body::-webkit-scrollbar-thumb {
    background: linear-gradient(72deg, #710d06 10%, #ff1919 99%);
    border-radius: 6px; /* roundness of the scroll thumb */
    border: 1px solid #e5e5e5;
  }

.agora{
    background: linear-gradient(72deg, #201b2c 10%, #302152 99%);
}

.imgindex p {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 37px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 40.6);
    background: linear-gradient(72deg, #342222 10%, #ff0000 99%);
    backdrop-filter: blur(3px);
    box-shadow: 8px 8px 32px 24px rgba(215, 1, 1, 0.451);
    border-radius: 15px;
    padding: 0px 25px;

}

.imgindex1 {
    width: 100%;
    height: 560px;
}

p {
    position: absolute;
    font-size: 20px;
    color: aliceblue;
}

/* Configuração Navbar */
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    color: rgb(225, 225, 225);
    text-decoration: none;
    background-image: linear-gradient(
        to right,
        #710d06 0%,
        #ff1919 51%,
        #3d176e97 100%
      );
}

h1,
a {
    color: white;
    text-decoration: none;
    padding: 0px 8px;

}

nav ul {
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;


}

li {
    padding: 0 25px;
    transition: .4s;
}

li:hover,
.h1:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: #3d176e97;
    border-radius: 5px;

}

ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all .5s;
}

/* fim navbar */


/* BLOCO 1 */
.control1 {
    width: 100%;
    display: flex;
    height: 40%;
    margin-top: 15%;
    background: linear-gradient(72deg, #710d06 10%, #ff1919 99%);
    transition: 0.7s;
}
.control1:hover{

  background-image: linear-gradient(
    to right,
    #710d06 0%,
    #ff1919 51%,
    #3d176e97 100%
  );
  transform: translateY(-20px);

}


.textodiv1 {
    line-height: 2.0rem;
    width: 80%;
    margin-left: 3%;
    margin-top: 5%;
    text-align: justify;
    line-height: 2.5rem;

}

.textodiv1 p {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.3rem;


}

.img1 {
    width: 420px;
    height: 260px;
    border-radius: 60px;
}

.imgdiv1 {
    margin-right: 3%;
    margin-top: 2.5%;
}

/* BLOCO 1 */


/* BLOCO 2 */
.control2 {
    width: 100%;
    display: flex;
    height: 40%;
    margin-top: 10%;
    background: linear-gradient(72deg, #710d06 10%, #ff1919 99%);
    transition: 0.7s;
    display: flex;
}
.control2:hover{

    background-image: linear-gradient(
      to right,
      #710d06 0%,
      #ff1919 51%,
      #3d176e97 100%
    );
    transform: translateY(-20px);

  }

.textodiv2 {
    line-height: 2.0rem;
    width: 80%;
   margin-left: 2%;
   margin-top: 4%;
    text-align: justify;
    line-height: 2.3rem;



}

.textodiv2 p {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.3rem;

}

.img2 {
    width: 400px;

    border-radius: 60px;
}

.imgdiv2 {
    margin-left: 3%;
    margin-top: 2.5%;
}

/* BLOCO 2 */


/* BLOCO 3 */
.control3 {
    width: 100%;
    display: flex;
    height: 40%;
    margin-top: 13%;
    background: linear-gradient(72deg, #710d06 10%, #ff1919 99%);
    transition: 0.7s;
}
.control3:hover{

    background-image: linear-gradient(
      to right,
      #710d06 0%,
      #ff1919 51%,
      #3d176e97 100%
    );
    transform: translateY(-20px);

  }

.textodiv3 {
    line-height: 2.0rem;
    width: 80%;
    margin-left: 3%;
    margin-top: 6%;

    text-align: justify;
    line-height: 2.5rem;

}

.textodiv3 p {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.3rem;

}

.img3 {
    width: 400px;
    border-radius: 60px;

}

.imgdiv3 {
    margin-right: 3%;
    margin-top: 3.5%;
}

/* BLOCO 3 */


/* BLOCO 4 */
.control4 {
    width: 100%;
    display: flex;
    height: 42%;
    margin-top: 12.5%;
    background: linear-gradient(72deg, #710d06 10%, #ff1919 99%);
    transition: 0.7s;

}
.control4:hover{

    background-image: linear-gradient(
      to right,
      #710d06 0%,
      #ff1919 51%,
      #3d176e97 100%
    );
    transform: translateY(-20px);

  }


.textodiv4 {
    line-height: 2.0rem;
    width: 80%;
    margin-left: 2%;
   margin-top: 4%;

    text-align: justify;
    line-height: 2.5rem;
}

.textodiv4 p {
    font-weight: 800;
    text-transform: uppercase;

    text-align: justify;
    line-height: 2.5rem;
}

.img4 {
    width: 400px;
    border-radius: 60px;
    margin-left: 10%;
}

.imgdiv4 {
    margin-right: 3%;
    margin-top: 3.5%;
}





/* footer */
.footer {
    position: absolute;
    background-image: linear-gradient(to right,
            #710d06 0%,
            #ff1919 51%,
            #3d176efa 100%);
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: white;


}

.footer h5 {
    font-size: 14px;
    font-weight: 100;
}

.footer h4 {
    font-size: 14px;
    font-weight: 100;
}

.footermini1 {
    margin-top: 0.8%;
    border-right: #ffffff solid 2px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
    margin-bottom: 2%;

}

.footermini2 {

    margin-left: 10%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}