
  body {
    margin: 0;
    padding: 0;
   background-image: url("https://wallpaperaccess.com/full/2928569.jpg");
      overflow-x: hidden;
      
      background-repeat: no-repeat;
      background-size: 100% 100%;
      backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
 
  
      
      
  }
  
  .agora{
    background: linear-gradient(72deg, #201b2c 10%, #302152 99%);
}
body::-webkit-scrollbar {
    width: 1rem; 
  }
  
  /* cor de fundo do scroll */
  body::-webkit-scrollbar-track {
    background: #201b2c; 
  }
  
  body::-webkit-scrollbar-thumb {
    background: linear-gradient(72deg, #710d06 10%, #ff1919 99%);
    border-radius: 6px; /* roundness of the scroll thumb */
    border: 1px solid #e5e5e5;
  }

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    color: rgb(225, 225, 225);
    text-decoration: none;
    background-image: linear-gradient(
    to right,
    #710d06 0%,
    #ff1919 51%,
    #3d176e97 100%
  );
}

h1,
a {
    color: white;
    text-decoration: none;
    padding: 0px 8px;
}

nav ul {
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    padding: 0 25px;
    transition: .4s;
}

li:hover,
.h1:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: #3d176e97;
    border-radius: 5px;
    
}

ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all .5s;
}


  
  .divengloba1 {
   
    width: 100%;
    margin-top: 7%;
    
    
  }
  .container1 {
    width: 90%;
    height: 100%;
    display: flex;
   
    
    
    
  }
  .div1 {
    width: 55%;
    margin-left: 10%;

}


  .imagem1 {
    width: 77.0%;
    margin-top: 0.3%;
    margin-left: 3.1%;
    border: #ff1919 15px ridge;
    
   
    
  }
  h1 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-left: 27%;
    margin-top: 2%;
  }
  .container_text {
    color: white;
    width: 66.9%;
  height: 100%;
    margin-left: 14%;
    line-height: 2.6rem;
    position: absolute;
   
    left: 40%;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/071d458b-55d5-44bc-b5ba-dda674f4038b/d7o2n01-ed39e01e-7f62-4c52-a260-c46690f6af19.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA3MWQ0NThiLTU1ZDUtNDRiYy1iNWJhLWRkYTY3NGY0MDM4YlwvZDdvMm4wMS1lZDM5ZTAxZS03ZjYyLTRjNTItYTI2MC1jNDY2OTBmNmFmMTkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.y-liWl4sOkbzlpqkqRIytaB89G-m22EFOf-8BBYt1R4");
    background-repeat: no-repeat;
    
  }
  .container_text p {
    font-size: 20px;
    text-align: justify;
    margin-top: 5.9%;
    margin-right: 53%;
    margin-left: 5%;
  }
 
  .divengloba2 {
    
    width: 100%;
    height: 40vh;
    margin-top: 28%;
  }
  .container2 {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 4%;
    flex-direction: row-reverse;
  }
  .div2 {
    width: 100%;
    height: 110%;
    margin-left: 6%;
 
  }
  .imagem2 {
    width: 77.0%;
    margin-top: 0.3%;
    margin-left: 3.1%;
    border: #ff1919 15px ridge;
    
  }
  .conteiner_texto2 {
    color: white;
    width: 100%;
    height: 300%;
    margin-left: 6%;
    line-height: 2.2rem;
    
   
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/071d458b-55d5-44bc-b5ba-dda674f4038b/d7o2n01-ed39e01e-7f62-4c52-a260-c46690f6af19.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA3MWQ0NThiLTU1ZDUtNDRiYy1iNWJhLWRkYTY3NGY0MDM4YlwvZDdvMm4wMS1lZDM5ZTAxZS03ZjYyLTRjNTItYTI2MC1jNDY2OTBmNmFmMTkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.y-liWl4sOkbzlpqkqRIytaB89G-m22EFOf-8BBYt1R4");
    background-repeat: no-repeat;
  }
  .conteiner_texto2 p {
    font-size: 20px;
    text-align: justify;
    margin-top: 7.4%;
    margin-right: 19.7%;
    margin-left: 7.7%;
  }
 
  .img3{
    width: 33.5%;
    margin-top: 15.3%;
    margin-left: 10.1%;
    border: #ff1919 15px ridge;
  }
 .imgtext{
   margin-top: 15%;
margin-left: 38%;

 }
  .imagem4 {
    width: 30%;
    height: 30%;
    border-radius: 140px;
    margin-left: 4%;
    
  }
  .imgtext p{
    color: white;
    font-weight: 800;
    margin-right: 10%;
    text-transform: uppercase;
  }
  
 
  .footer {
    position: absolute;
    background-image: linear-gradient(to right,
            #710d06 0%,
            #ff1919 51%,
            #3d176efa 100%);
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
   
    color: white;


}

.footer h5 {
    font-size: 14px;
    font-weight: 100;
}

.footer h4 {
    font-size: 14px;
    font-weight: 100;
}

.footermini1 {
    margin-top: 0.8%;
    border-right: #ffffff solid 2px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
    margin-bottom: 2%;

}

.footermini2 {

    margin-left: 10%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}