
  body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
        to right,
        #1d043d 0%,
        #14031d 51%,
        #0f0120 100%
      );
  }
  
  .agora{
    background: linear-gradient(72deg, #201b2c 10%, #302152 99%);
}
body::-webkit-scrollbar {
    width: 1rem; 
  }
  
  /* cor de fundo do scroll */
  body::-webkit-scrollbar-track {
    background: #201b2c; 
  }
  
  body::-webkit-scrollbar-thumb {
    background: linear-gradient(72deg, #710d06 10%, #ff1919 99%);
    border-radius: 6px; /* roundness of the scroll thumb */
    border: 1px solid #e5e5e5;
  }

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    color: rgb(225, 225, 225);
    text-decoration: none;
    background-image: linear-gradient(
    to right,
    #710d06 0%,
    #ff1919 51%,
    #3d176e97 100%
  );
}

h1,
a {
    color: white;
    text-decoration: none;
    padding: 0px 8px;
}

nav ul {
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    padding: 0 25px;
    transition: .4s;
}

li:hover,
.h1:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: #3d176e97;
    border-radius: 5px;
    
}

ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all .5s;
}


  
  .divengloba1 {
   
    width: 100%;
    height: 70vh;
    margin-top: 3%;
  }
  .container1 {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
  }
  .div1 {
    width: 45%;
    height: 85%;
  }
  .imagem1 {
    width: 100%;
    height: 50%;
    margin-top: 25%;
    border-radius: 20px;
  }
  h1 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-left: 27%;
    margin-top: 2%;
  }
  .container_text {
    color: white;
    width: 100%;
    margin-left: 2%;
    line-height: 2.6rem;
  }
  .container_text p {
    font-size: 20px;
    text-align: justify;
  }
 
  .divengloba2 {
    
    width: 100%;
    height: 40vh;
    margin-top: -4%;
  }
  .container2 {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 4%;
    flex-direction: row-reverse;
  }
  .div_jogabilidade {
    width: 40%;
    height: 85%;
  }
  .imagem2 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .conteiner_texto2 {
    color: white;
    width: 100%;
    margin-right: 2%;
    line-height: 2.5rem;
  }
  .conteiner_texto2 p {
    font-size: 20px;
    text-align: justify;
  }
 
  .divengloba3 {
    margin-top: -7%;
    width: 100%;
    height: 90vh;
  }
  .conteiner3 {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 2%;
  }
  .div_imagem3 {
    width: 60%;
    height: 30%;
  }
  .imagem3 {
    width: 80%;
    height: 100%;
    border-radius: 20px;
  }
  .container_texto3 {
    color: white;
    width: 100%;
    margin-left: 0%;
    line-height: 2.5rem;
  }
  .container_texto3 p {
    font-size: 20px;
    text-align: justify;
  }
  
 .imgtext{
margin-left: 38%;

 }
  .imagem4 {
    width: 30%;
    height: 30%;
    border-radius: 140px;
    margin-left: 4%;
    
  }
  .imgtext p{
    color: white;
    font-weight: 800;
    margin-right: 10%;
    text-transform: uppercase;
  }
  
 
  .footer {
    position: absolute;
    background-image: linear-gradient(to right,
            #710d06 0%,
            #ff1919 51%,
            #3d176efa 100%);
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: white;


}

.footer h5 {
    font-size: 14px;
    font-weight: 100;
}

.footer h4 {
    font-size: 14px;
    font-weight: 100;
}

.footermini1 {
    margin-top: 0.8%;
    border-right: #ffffff solid 2px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
    margin-bottom: 2%;

}

.footermini2 {

    margin-left: 10%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}